/vendor
/node_modules
/public/build
/.env
/.env.*
!.env.example
/database/*.sqlite
/storage/*.key
/storage/app/public
/bootstrap/cache/*.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
*.bak
*.bak_*
*.safe_*
*.tar.gz
*.zip
/storage/framework/views/*
/storage/framework/cache/*
/storage/logs/*
