/vendor
/node_modules
/.env

# Laravel
/storage/*.key
/storage/logs/*
/storage/framework/sessions/*
/storage/framework/cache/*
/storage/framework/views/*

# Backup & temp
*.bak.*
*.tmp

# OS
.DS_Store

# Public storage (symlink)
public/storage
